<h1>Disaster Information in Makati</h1>

<table>
  <thead>
  <td>Title</td>
  <td>Content</td>
  <td>Type of Disaster</td>
  <td>image</td>
  <td>Address</td>
  <td>Comments Count</td>
  </thead>
  <% @posts.each do |post| %>
    <tr class="container">
      <td><%= post.title %></td>
      <td><%= post.content %></td>
      <td><%= post.categories.pluck(:name).join(',') %></td>
      <td><%= post.address %></td>
      <td><%= post.comments_count %></td>
      <td><%= image_tag post.image.url(resize_to_limit: [1, 1]) if post.image.present? %></td>
      <td>
        <%= link_to 'Show', post_path(post) %>
        <%= link_to 'Edit', edit_post_path(post) if user_signed_in? && post.user == current_user %>
        <%= button_to 'Delete', post_path(post), method: :delete if user_signed_in? && post.user == current_user %>
        <%= link_to 'Comments', post_comments_path(post) %>
        <%= link_to 'New Comment', new_post_comment_path(post) %>
      </td>
    </tr>
  <% end %>
</table>

<%= link_to 'New', new_post_path %>