<h1>Disaster Information in Makati</h1>

  <h3> Hot Posts</h3>
  <% @hot.each do |post| %>
    <div class="post">
      <%= post.title %>
    </div>
  <% end %>

<table>
  <thead>

  <td>Title</td>
  <td>Content</td>
  <td>Type of Disaster</td>
  <td>Image</td>
  <td>Address</td>
  <td>Comments Count</td>
  </thead>
  <% @posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= post.content %></td>
      <td><%= post.categories.pluck(:name).join(',') %></td>
      <td><%= image_tag post.image.url if post.image.present? %></td>
      <td><%= post.address %></td>
      <td><%= post.comments_count %></td>
      <td>
        <%= link_to 'Show', post_path(post) %>
        <%= link_to 'Edit', edit_post_path(post) if policy(post).edit? %>
        <%= button_to 'Delete', post_path(post), method: :delete if policy(post).destroy? %>
        <%= link_to 'Comments', post_comments_path(post) %>
        <%= link_to 'New Comment', new_post_comment_path(post) %>
      </td>
    </tr>
  <% end %>
</table>

<%= link_to 'New', new_post_path %>
<%= link_to 'My Own Posts', users_index_path(current_user)%>