<!DOCTYPE html>
<html>
<head>
  <title>Disaster</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag 'style' %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>

<body>

<header class="hero">
  <div id="navbar" class="navbar top">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8e/Makati_City.svg/1200px-Makati_City.svg.png" class="logo">
    <nav>
      <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#cases">Posts</a></li>
      </ul>
    </nav>
  </div>

  <div class="content">
    <h1>Disaster Information in Makati</h1>
    <p>This informations contain all the disaster encountered in this city</p>
    <a href="#about" class="btn">Read More</a>
  </div>
</header>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>
</body>
</html>
